##**K-Means Clustering**

In [ ]:
import pandas as pd

In [ ]:
ratings = [['john',5,5,2,1],['mary',4,5,3,2],['bob',4,4,4,3],['lisa',2,2,4,5],['lee',1,2,3,4],['harry',2,1,5,5]]
titles = ['user','Jaws','Star Wars','Exorcist','Omen']
movies = pd.DataFrame(ratings,columns=titles)
movies

    user  Jaws  Star Wars  Exorcist  Omen
0   john     5          5         2     1
1   mary     4          5         3     2
2    bob     4          4         4     3
3   lisa     2          2         4     5
4    lee     1          2         3     4
5  harry     2          1         5     5

In [ ]:
#applying k-means clustering (with k=2) on the movie ratings data
#The "user" column is first removed before applying the clustering algorithm

from sklearn import cluster 

new_data = movies.drop('user',axis=1)
k_means = cluster.KMeans(n_clusters=2, max_iter=50, random_state=1)
k_means.fit(new_data) 
labels = k_means.labels_
pd.DataFrame(labels, index=movies.user, columns=['Cluster_ID'])

       Cluster_ID
user
john            1
mary            1
bob             1
lisa            0
lee             0
harry           0

In [ ]:
# The k-means clustering algorithm assigns the first three users to one cluster and the last three users to the second cluster
centroids = k_means.cluster_centers_
pd.DataFrame(centroids,columns=data.columns)

       Jaws  Star Wars  Exorcist      Omen
0  1.666667   1.666667       4.0  4.666667
1  4.333333   4.666667       3.0  2.000000